.main-container {
    max-width: 80vw;
    height: 100vh;
    margin-left: 320px;
    margin-right: 56px;
}

.playlist-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 30px;
}

.hidden {
    display: none;
}

.playlist-container .playlist {
    display: flex;
    flex-direction: column;
}

.playlist-container h1 {
    font-weight: 700;
}

.playlist-container .session {
    color: #E6A4B4;
    font-size: 25px;
    font-weight: 600;
    padding: 10px 0 20px 0;
}

.offer__scroll-container {
    max-height: 43vh;
    margin: 24px;
    overflow-y: auto;
}

.offer__list-item {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    gap: 16px;
    margin-bottom: 16px;
}

.offer__list-item img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: auto;
    width: 107px;
    transform: rotate(25deg) translate(18%, -2%);
}

.cards {
    position: relative;
    width: 220px;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
}

.cards span {
    color: #fff;
    padding: 16px;
    position: absolute;
    font-size: 24px;
    font-weight: 700;
}

/* CORES DOS CARDS */

.card1 {
    background-color: rgb(35, 172, 58);
}

.card2 {
    background-color: rgb(146, 93, 163);
}

.card3 {
    background-color: rgb(30, 184, 236);
}

.card4 {
    background-color: rgb(221, 103, 34);
}

.card5 {
    background-color: rgb(238, 109, 166);
}

.card6 {
    background-color: rgb(99, 192, 173);
}

.card7 {
    background-color: rgb(159, 159, 159);
}

.card8 {
    background-color: rgb(173, 199, 236);
}

.artist {
    --column-count: 5;
    --grid-gap: 24px;
    --min-container-width: 372px;
}
  
.hidden {
    display: none;
}
  
.grid-container {
    grid-gap: var(--grid-gap);
    display: grid;
    grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
    min-width: var(--min-container-width);
}
  
.artist-card {
    background: #fff;
    border-radius: 8px;
    -ms-flex: 1;
    flex: 1;
    isolation: isolate;
    padding: 16px;
    position: relative;
    transition: background-color 0.3s ease;
    width: 100%;
}

.artist-card:hover {
    background-color: rgb(223, 221, 221)
}

.card-img {
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    margin-bottom: 16px;
}

.artist-img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 50%;
}

.card-text {
    display: flex;
    flex-direction: column;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 62px;
}
  
.card-text a {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}
  
.artist-name {
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 16px;
    font-weight: 700;
    padding-block-end: 8px;
}
  
.artist-categorie {
    color: #6a6a6a;
    font-weight: 400;
    font-size: 0.875rem;
}
  
.play {
    position: relative;
}
  
.play .fa-play {
    position: absolute;
    right: 10px;
    top: 120px;
    padding: 18px;
    background-color: #1db954;
    border-radius: 100%;
    font-size: 14px;
    opacity: 0;
    transition: all ease 0.4s;
}
  
.artist-card:hover .play .fa-play {
    opacity: 1;
    transform: translateY(-20px);
}
  
.play .fa-play:hover {
    padding: 20px;
    cursor: pointer;
}
  
#result-artist {
    padding: 20px 40px;
}